# Gini

## Content-Based Model

    imports

In [8]:
import numpy as np
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity

    read

In [9]:
model_df = pd.read_csv("../data/transformed/processed_content_filter_data.csv")

In [10]:
model_df.head()

,LOAN_ID,DESCRIPTION,LOAN_AMOUNT,LOAN_USE,TAGS,FEMALE_OPERATED,ORIGINAL_LANGUAGE_Arabic,ORIGINAL_LANGUAGE_English,ORIGINAL_LANGUAGE_French,ORIGINAL_LANGUAGE_Indonesian,...,married woman,medical expenses,rancor,sanitary,school fees,single mother,user_favorite,volunteer_like,volunteer_pick,water filter
0,357587,"Ibtisam is a 41-year-old married lady, who kni...",925.0,to buy more wool and make more clothing items.,rancor,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,689681,Nemesiana is a married woman and a mother of t...,125.0,to buy fertilizer and pesticide,rancor,1,0,1,0,0,...,1,0,1,0,0,0,0,0,0,0
2,1589199,Chansamoul’s Group lives in a rural village in...,100.0,to buy a water filter to provide safe drinking...,"#Technology, #Eco-friendly, #Health and Sanita...",0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,1471509,"Salim, 30, was orphaned at a young age and los...",575.0,to purchase more timber to sell.,user_favorite,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,423277,Cristina is fifty-one years old and married wi...,400.0,to buy beer and soda for wholesale distribution.,rancor,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
model_df.reset_index(inplace=True, drop=True)

### Content-based Filter

In [14]:
X = model_df.drop(["user_favorite", "volunteer_like", "volunteer_pick", "rancor", "DESCRIPTION",
                   "LOAN_AMOUNT", "LOAN_USE", "TAGS", "TAGS+", "TEXT", "PROCESSED_TEXT", "LOAN_ID"],
                   axis = 1).astype(np.uint8)
X = X.to_numpy()

In [123]:
# create a synthetic user
user_interests = np.random.binomial(1, 10/X.shape[1], X.shape[1])
user_interests = np.reshape(user_interests, (1, -1))

In [124]:
# Nearest vectors to synthetic user
rec = cosine_similarity(X, user_interests)

# index similarity scores
ordinals = [i for i in range(len(rec.ravel()))]
rec_ordinal = list(zip(rec.ravel(), ordinals))

# sort for top scores
sorted_index = sorted(rec_ordinal, key = lambda x: x[0], reverse=True)

# top 5 scores and loan ids
top_loan_ids = [(x, model_df.iloc[y][0]) for x, y in sorted_index[0:5]]
top_loan_ids

[(0.3202563076101743, 2071366),
 (0.2773500981126146, 1499455),
 (0.2773500981126146, 268562),
 (0.2773500981126146, 2172635),
 (0.2773500981126146, 2137325)]